<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>
<body>
{% if last_record %}
<div class="container">
    <div>
        <h2>По данным <a href="https://yandex.ru/pogoda/saint-petersburg" target="_blank">«Яндекс.Погода»</a> на {{ last_record.obs_time }}</h2>
    </div>
    <hr>
    <div>
        <p>Давление: <span class="bold-me">{{ last_record.pressure }} мм рт. ст.</span></p>
        <p>Температура: <span class="bold-me">{{ last_record.temp }} °C</span></p>
        <p>Ощущаемая температура: <span class="bold-me">{{ last_record.feels_like }} °C</span></p>
        <p>Скорость ветра: <span class="bold-me">{{ last_record.wind_speed }} м/с</span></p>
        <p>Направление ветра: <span class="bold-me">{{ last_record.wind_dir }}</span></p>
        <p>Влажность воздуха: <span class="bold-me">{{ last_record.humidity }} %</span></p>
    </div>
    <hr>
    <div>
        <input type="date" onchange="get_data_for_chart(this.value)">
    </div>

    <div>
        <canvas id="temp">
            <p>Your browser does not support the canvas element.</p>
        </canvas>
    </div>

    <div>
        <canvas id="pressure">
            <p>Your browser does not support the canvas element.</p>
        </canvas>
    </div>

    <div>
        <canvas id="humidity">
            <p>Your browser does not support the canvas element.</p>
        </canvas>
    </div>
</div>
{% else %}
    <h3>Информация отсутствует</h3>
{% endif %}
<script src="{{ url_for('static', filename='app_scripts.js') }}"></script>
</body>
</html>
