<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% if last_record %}
<div class="container">
    <h5>Данные на {{ last_record.obs_time }}</h5>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Давление <br>(в мм рт. ст.)</th>
                <th>Температура (°C)</th>
                <th>Ощущаемая температура (°C)</th>
                <th>Скорость ветра <br>(в м/с)</th>
                <th>Направление ветра</th>
                <th>Влажность воздуха <br>(в процентах)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ last_record.pressure }}</td>
                <td>{{ last_record.temp }}</td>
                <td>{{ last_record.feels_like }}</td>
                <td>{{ last_record.wind_speed }}</td>
                <td>{{ last_record.wind_dir }}</td>
                <td>{{ last_record.humidity }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% else %}
    <h3>Информация отсутствует</h3>
{% endif %}
</body>
</html>